<div class="choose-role-container">
  <h1>Gestor de Tareas</h1>
  <p>Escoge una opción:</p>
  <div class="button-group">
    <div class="role-option">
      <button (click)="selectRole('employee')">Empleado</button>
      <p>Como empleado podra visualizar la lista de tus tareas.</p>
    </div>

    <div class="role-option">
      <button (click)="selectRole('admin')">Administrador</button>
      <p>Como administrador tiene acceso al listado completo de tareas, filtrar por estado y asignar nuevas tareas a los empleados</p>
    </div>
  </div>
</div>
