<div class="sign-up-client-container">
  <h1>Task Management</h1>
  <form #signUpForm="ngForm" (ngSubmit)="signUp()">
    <input type="email" placeholder="Correo electrónico" [(ngModel)]="username" name="email" required>
    <input type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required>
    <button type="submit" [disabled]="!signUpForm.valid">Registrarse</button>
  </form>
  <a (click)="navigateTo('sign-in')">¿Tienes una cuenta? <span class="blue-link">Inicia Sesión</span></a>
</div>
